---
layout: base.liquid
---
<h1 class="section-title">Published Work</h2>
    <ul>
        {% for post in publishedWorks %}
            {% if post.fields.link %}
                <li><strong>{{ post.fields.link }}</strong> — <i>{{ post.fields.publication}}</i>, {{ post.fields.issue }}</li>
            {% else %}
                <li><strong>{{ post.fields.title }}</strong> — <i>{{ post.fields.publication}}</i>, {{ post.fields.issue }}</li>
            {% endif %}
        {% endfor %}
    </ul>
<h1 class="section-title">Poetry</h2>
    <ul class="writing-list">
        {% for post in writtenWorks %}
        <li><a href="./{{ post.fields.title | slug}}">{{ post.fields.title }}</a></li>
        {% endfor %}
    </ul>
    